.details-card-actions p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.5px;

    color: #333333;
}
.details-card-actions-bold{
    font-weight: 600 !important;
}

.details-card-header{
    position: relative;
}

.details-right-upper,
.details-right-lower{
    background-color: #FFFFFF;
    padding: 24px;
   
    border-radius: 14px;
}
.details-right-upper{
    height: 606px;
    margin-bottom: 32px;
}

.details-right-section h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */

    letter-spacing: 0.5px;

    color: #333333;
}
.details-right-image{
    height: 506px;
}

.details-right-header-desc, .details-right-created-desc,
.details-right-rate-desc{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
    letter-spacing: 0.5px;

    color: #333333;
}

.details-right-header-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.5px;

    color: #333333;
}

.details-right-created-icons{
    width: 25px;
    height: 37px;
    margin-right: 24px;
}

.details-right-action mat-icon{
    padding: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #fff;
    margin-right: 16px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
}

.details-right-buttons button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */

    text-align: center;
    letter-spacing: 0.5px;

    /* Base/White */

    color: #FFFFFF;
    border-radius: 50px;
}

.btn-outline-primary{
    color: #1569DE !important;
    border-radius: 50px!important;
}

.home-child-card img{
    height: 300px;
}
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
.home-child-card-heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #2563EB;
}
.home-child-card-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.5px;
}
.home-child-card-actions p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 21px;
    margin: 0;
    color: grey;
    margin-left: 8px;
}

.home-child-card-user-heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 200% */
    letter-spacing: 0.5px;

    color: #333333;

}

.home-child-card-user .home-child-card-user-name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.5px;

    color: #333333;
}

.home-child-card-user .home-child-card-user-desingnation {  
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;
letter-spacing: 0.5px;

color: #666666;
}