<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 mx-auto pt-5">
        <form #loginUserForm="ngForm" (ngSubmit)="loginUser()">
          <div class="form-group">
  
            <label><strong>User Name</strong></label>
            <input type="text" class="form-control" name="userName" [(ngModel)]="userName" #name="ngModel" required>
  
          </div>
          <div [hidden]="name.value || name.pristine" class="alert alert-danger">
            User Name is required
          </div>
  
          <div class="form-group">
            <label><strong>Password</strong></label>
            <input type="password" class="form-control" name="password" [(ngModel)]="password" #pwd="ngModel" required>
          </div>
          <div [hidden]="pwd.value || pwd.pristine" class="alert alert-danger">
              Password is required
            </div>
            <div class="form-group" style="text-align: center">

          <button type="submit" class="btn btn-outline-info" [disabled]='!loginUserForm.form.valid'>Login</button>
          <small  class="form-text text-muted question-text">Dont Have an Account?<a routerLink ="/sign-up"><strong>&nbsp;SignUp</strong></a></small>
            </div>
        </form>
      </div>
  
    </div>
  </div>