
<div class="home">
    <div class="container-fluid home-banner">
        <div class="home-banner-content">
            <h1>Explore the professionals</h1>
            <div class="d-flex justify-content-evenly mb-5">
                <button class="btn btn-outline-light btn-rounded">All</button>
                <button class="btn btn-outline-light btn-rounded">BXD</button>
                <button class="btn btn-outline-light btn-rounded">UI/Ux</button>
                <button class="btn btn-outline-light btn-rounded">Coding</button>
                <button class="btn btn-outline-light btn-rounded">QA</button>
            </div>
        </div>
    </div>
    <div class="home-child my-5">
        <div class="container">
            <div class="row">
                <div [routerLink]="['/details', '1']" class="col-4 col-md-6 col-lg-4 col-xl-4 col-xxl-4 col-xs-12 col-sm-12 mb-3">
                    <mat-card class="home-child-card">
                        <img class="mb-4" mat-card-image src="https://cdn2.vectorstock.com/i/1000x1000/36/16/dashboard-ui-statistic-graphs-data-charts-vector-27133616.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content class="">
                            <h5 class="mb-2 home-child-card-heading">Dashboard</h5>
                            <p  class="mb-3 home-child-card-text">
                                A wireframe for a simple dashboard design with top & left navigation. 
                            </p>
                            <p class="mb-4">
                                Rating
                            </p>
                            <div class="d-flex mb-3 home-child-card-actions">
                                <div class="me-3 d-flex align-items-center">
                                    <mat-icon>cloud_download</mat-icon>
                                    <p>25</p>
                                </div>
                                <div class="me-3 d-flex align-items-center">
                                    <mat-icon>visibility</mat-icon>
                                    <p>500</p>
                                </div>
                                <div class="me-3 d-flex align-items-center">
                                    <mat-icon>thumb_up</mat-icon>
                                    <p>45</p>
                                </div>    
                            </div>
                            <div class="home-child-card-user">
                                <h6 class="mb-2 home-child-card-user-heading">created by</h6>
                                <div class="d-flex">
                                    <div mat-card-avatar class="example-header-image me-2"></div>
                                    <div>
                                        <mat-card-title class="home-child-card-user-name">Shiba Inu</mat-card-title>
                                        <mat-card-subtitle class="home-child-card-user-designation">Dog Breed</mat-card-subtitle>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                      </mat-card>
                </div>
                
                <div [routerLink]="['/details', '2']" class="col-4 col-md-6 col-lg-4 col-xl-4 col-xxl-4 col-xs-12 col-sm-12 mb-3">
                    <mat-card class="home-child-card">
                        <img class="mb-4" mat-card-image src="https://cdn2.vectorstock.com/i/1000x1000/36/16/dashboard-ui-statistic-graphs-data-charts-vector-27133616.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content class="">
                            <h5 class="mb-2 home-child-card-heading">Dashboard</h5>
                            <p  class="mb-3 home-child-card-text">
                                A wireframe for a simple dashboard design with top & left navigation. 
                            </p>
                            <p class="mb-4">
                                Rating
                            </p>
                            <div class="d-flex mb-3 home-child-card-actions">
                                <div class="me-3 d-flex align-items-center">
                                    <mat-icon>cloud_download</mat-icon>
                                    <p>25</p>
                                </div>
                                <div class="me-3 d-flex align-items-center">
                                    <mat-icon>visibility</mat-icon>
                                    <p>500</p>
                                </div>
                                <div class="me-3 d-flex align-items-center">
                                    <mat-icon>thumb_up</mat-icon>
                                    <p>45</p>
                                </div>    
                            </div>
                            <div class="home-child-card-user">
                                <h6 class="mb-2 home-child-card-user-heading">created by</h6>
                                <div class="d-flex">
                                    <div mat-card-avatar class="example-header-image me-2"></div>
                                    <div>
                                        <mat-card-title class="home-child-card-user-name">Shiba Inu</mat-card-title>
                                        <mat-card-subtitle class="home-child-card-user-designation">Dog Breed</mat-card-subtitle>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                      </mat-card>
                </div>
                
                
            </div>
        </div>
    </div>
</div>


